body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font: 12px/170% Verdana;
  color: #494949;
}

body #wrapper #container #lowerwrap {
	background-color: #FFFFFF;
	padding-top:5px;
	padding: 5px;
	padding-top:4px;
  border: 2px solid #bbb;
	border-top:none;
}

.IE #wrapper #container #center {
  overflow: hidden;
}

body #wrapper #container {
  width: 960px;
  margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#pad {
  background-color:#FFFFFF; 
}

.topwrapper {
  background-image: url(images/dot_2px.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

/* 
 * Arcane negative margins voodoo begins.
 * Note: this section uses the method used by Garland and the Zen themes.
 * I use it because frankly it is the best way to avoid theming issues with contributed modules.
 */

/* We define 100% width to avoid the body being too narrow on pages without much content */
#wrapper #container #center {
  float: left;
  width: 100%;
	padding-bottom: 5px;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -190px;
}

body.sidebar-right #center {
  margin-right: -190px;
}

body.sidebars #center {
  margin: 0 -190px;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
  margin-left: 190px;
  padding-left:5px;
}

body.sidebar-right #squeeze {
  margin-right: 190px;
  padding-right:5px;
}

body.sidebars #squeeze {
  margin: 0 190px;
  padding-right:5px;
  padding-left:5px;
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
	width: 190px;
	float: left;
	z-index: 2;
	position: relative;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
/* End negative margins voodoo */

/* 
 * styling for all sections that share the common repeating horizontal image
 * I intentionally left out the MENU_LOCAL_TASK so that it could be overriden more quickly.
 */
.breadcrumb,
legend, 
.comment h3,
.views-category-title, 
#footer, 
.admin-panel h3, 
a.page-next,
a.page-previous,
a.page-up{	
	border: 1px solid #bbb;
	background-image: url(images/tabslice.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color:#B8D9E6;
}

/*primary links*/

.menuwrapper {
	height:29px;
	line-height:29px;
	margin-top:5px;
}

.menuwrapper ul.links li {
  padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-image: url(images/tab-li.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 11px;	
  margin: 0 0 0 5px;
	float:right;
}

.menuwrapper ul.links li a:link, .menuwrapper ul.links li a:visited  {
  display: block;
  float:left;
	position: relative;
	color:#666;	
	line-height: 25px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-right:11px;
	padding-top:2px;
	background-image: url(images/tab-a.png);
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
}

.menuwrapper ul.links li a:hover{
	color:#000;
	text-decoration: none;
}	

.menuwrapper ul.links li.active {
	background-image: url(images/tab-li-active.png);
}

.menuwrapper ul.links li a.active:link, .menuwrapper ul.links li a.active:visited {
	line-height: 27px;
	text-decoration: none;
	color: #575757;
	background-image: url(images/tab-a-active.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.menuwrapper ul.links li a.active:hover {
	color: #000;
}
/*end primary links styling*/

/*
 * breadcrumb styling
 * Note: There is an override in place in the template.php page.
 */
.breadcrumb {
	padding:5px;
	padding-left:8px;
	padding-right:8px;
	margin-top:5px;
}

.breadcrumb a:link, .breadcrumb a:visited {
	color:#000;
	text-decoration:none;
}

/*footer styling*/
#footer {
	padding:5px;
}

#footer ul.menu {
	margin:0;
	padding:0;
}

#footer ul.menu li {
	background-image:none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display:inline;
	list-style-type: none;
	margin-bottom:0px;
	margin-top:0;
	margin-left:0px;
	margin-right:0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
}

#footer ul.menu li.last {
	border:none;
}

#footer ul.menu li a {
  margin-right:5px;
	margin-left:5px;
}
/*end footer styling*/

/*Admin styling*/
div.admin-panel {
  margin-left:0;
	padding:0 0 0 0 ;
}

div.admin .left, div.admin .right{
	border: 1px solid #bbb;
	margin-bottom:5px;
	width:46.5%;
	padding:5px;
}

div.admin {
	padding:0;
}

div.admin .left {
  margin-left:0px;
}

div.admin .right {
  margin-right:0;
  margin-left: 5px;
}

div.messages, 
div.messages.status, 
div.messages.warning, 
div.messages.error {
	font-weight:bold;
	margin-top:5px;
  padding:5px;
	padding-right:8px; 
	padding-left:8px; 
  border: 1px solid #bbb;
	background-color:#FFFFFF;
}

div.messages a:link, div.messages a:visited {
	text-decoration: underline;
}

div.messages.status {
	color: #669933;
}

div.messages.warning {
	background-color:#FFECB0;
}

div.messages.error {
	color: #CC0000;
}
/*End admin styling*/

/* MENU_LOCAL_TASK tab navigation */
.tabwrap-1 {
	margin-top:5px;
	background-image: url(images/dot.gif);
	background-repeat: repeat-x;
	background-position: left bottom;	
	height: 27px;
	line-height: 23px;
} 

.tabwrap-2 {
  height:100%;
	border-color: #bbb;
  border-width: 1px;
	border-style: none solid solid solid;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

ul.local-primary {
  padding: 0 0 0 10px; 
  white-space: nowrap;
  list-style: none;
  margin: 0 0 0 0;
  /*height: auto;*/
  border-bottom: none;
}
ul.local-primary li {
	display:inline;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

ul.local-primary li a {
  display: block;
 	float:left;
	background-color: #ddd;
	border-color: #bbb;
	border-width: 1px;
	border-style: solid solid none solid;
	margin-right: 0.3em;
  text-decoration: none;
	padding-right: .5em;
	padding-left: .5em;
	padding-bottom: 1px;
	padding-top: 1px;
	margin-bottom:0px;
	background-image: url(images/tabslice.png);
	background-repeat: repeat-x;
	background-position: left top;
}

#tabsection ul.local-primary li.active a {
  background-image: none;
	padding-bottom: 2px;
	margin-bottom:0px;
  background-color: #fff;
  border: 1px solid #bbb;
	border-bottom:none;
}

ul.local-primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom: none;
}

ul.local-secondary {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  margin: 0px;
	border:none;
}

ul.local-secondary li {
	display:inline;
  padding: 0em;
	margin:0;
}

ul.local-secondary a {
	display:block;
	float:left;
	margin-top:5px;
  padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
  text-decoration: none;
	height:100%;
}

ul.local-secondary a.active {
	border:1px solid #CCCCCC;
	background-image: url(images/tabslice.png);
	background-repeat: repeat-x;
	background-position: left top;
}
/* End MENU_LOCAL_TASK tab navigation */




/* Block styling */
.block {
	/*margin-bottom: 5px;*/
	padding-bottom:0;
}

.block h2 {
	margin-bottom:0;
}

.blockinner {
  border:1px solid #999;
	border-top:none;
	background-color:#FFF;
	background-image: url(images/blockslice.png);
	background-repeat: repeat-x;
	background-position: left top;	
	height: 100%;
}

.block-region {
  padding: 1em;
	background:transparent;
  border: 2px dashed #CCCCCC;
  text-align: center;
  font-size: 1.3em;
	line-height:normal;
}

.block ul.menu {
	margin:0 0 0 0;
}

#wrapper #container .sidebar .block {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;	
}

#sidebar-left .block {
  padding: 0px;
}

#sidebar-right .block {
  padding: 0px;
}

.block .content {
  margin: 0 0;
}
/* End block styling */

/* Link styling */
a:link, 
a:visited {
	color: #003366;
	text-decoration: none;
}

a:hover {
	color: #000033;
	text-decoration: underline;
}

.centertext a:link, 
.centertext a:visited {
	text-decoration: underline;
}

a:active, 
a.active {
	color: #000000;
}

ul.menu a.active {
  color:#b20000;
}
/* End link styling */

/* Node styling */

.node .content {
	padding-left: 5px;
	padding-right:5px;
}

.page-links {
	margin-bottom:5px;
}

div.terms {
	margin-bottom: 5px;
	margin-top:5px;
	border: 1px solid #ccc;
	height:100%;
}

.termright {
  margin:5px;
	float:left;
	width:auto;
}

img.termicon {
	margin: 5px;
	float:left;
	display:block;
	width:21px;
	height:21px;
}

div.links {
	border-bottom: 1px dotted #bbb;
	margin-top:5px;
	margin-bottom:5px;
}

div.links ul.links.inline li{
	margin:0;
	padding:0;
}

ul.links li {
	background-image:none;
}

div.links ul.links li a {
	display:block;
	float:left;
	font-size:10px;
	padding:5px;
	margin-right: 15px;
}

div.links ul.links.inline li.comment_forbidden {
	margin-left:5px;
	margin-right:5px;
}
div.links ul.links.inline li.comment_forbidden a {
  display:inline;
	float:none;
	margin:0;
	padding:0;
	font-size: inherit;
	font-size: 12px;
}

div.links ul.inline li.comment_add a {
	padding-right: 30px;
	background-image: url(images/comment.png);
	background-repeat: no-repeat;
	background-position: right center;
}

div.links ul.inline li.book_printer a {
	padding-right: 30px;
	background-image: url(images/print.png);
	background-repeat: no-repeat;
	background-position: right center;
}

div.links ul.inline li.book_add_child a {
	padding-right: 25px;
	background-image: url(images/child.png);
	background-repeat: no-repeat;
	background-position: right center;
}

/* Book styling */
.book-navigation a.page-next,
.book-navigation a.page-previous {
	width: 38%;
}

.book-navigation a.page-up {
	padding-left:8px;
	padding-right:8px;
}

.book-navigation a.page-previous {
	padding-left:8px;
}

.book-navigation a.page-next {
	padding-right:8px;
}
/* End book styling */
/* End node styling */

/* Comment styling */
.comment {
	padding:5px;
	border: 1px solid #bbb;
	margin-top: 5px;
}

div#comments ul li {
	background-image:none;
	display:inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div#comments ul li a {
	display:block;
	float:left;
	line-height: 20px;
	padding: 5px;
	padding-right: 25px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: right center;	
	
}

div#comments ul li.comment_edit a{
	background-image: url(images/edit.png);
	background-position: right 3px;
}

div#comments ul li.comment_delete a{
	background-image: url(images/trash.png);
}

div#comments ul li.comment_reply a{
	background-image: url(images/comment.png);
}
/* End comment styling */

/* List styling */
ul {
  margin: 0.5em 0 1em;
  padding: 0;
  padding-left:25px;
}

ul li {
	margin-top: 0.4em;
	margin-right: 0;
	margin-bottom: 0.4em;
	margin-left: 3px;
}

ul.menu ul, 
.item-list ul ul {
  margin-left: 0em;
}

ul.menu li, 
li.leaf, ul li,
.item-list ul li {
	padding: 0;
	padding-left:14px;
	list-style-type: none;
	list-style-image: none;
	margin-top: 0pt;
	margin-right: 10px;
	margin-bottom: 0.25em;
	margin-left: 5px;
	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
	background-repeat: no-repeat;
	background-position: left .6em;
}

ul li.expanded {
	background: transparent url(images/menu-expanded.png) no-repeat 1px .35em;
	background-position: left .7em;
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.png) no-repeat 1px .35em;
	background-position: left .6em;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}
/* End list styling */

/* Header styling */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 5px;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 170%;
}

h2 {
	font-size: 160%;
	line-height: 130%;
	color:#fff;
	padding-left:10px;
	padding-right:10px;
	background-color: #12246A;
	background-image: url(images/header_repeat.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 100%;
	border-bottom: 1px solid #bbb;
	margin-bottom:5px;
	margin-top: 1px;
}

h2.withlink {
	line-height:123%;
}

h2.withlink a:link,
h2.withlink a:visited, 
h2.withlink a:active {
	color:#fff;
	text-decoration:none;
	padding-right:15px;
	background-image: url(images/linkto_dark.png);
	background-repeat: no-repeat;
	background-position: right .3em;
}

h2.withlink a:hover {
	color:#FFFFCC;
	background-image: url(images/linkto_dark_hover.png);
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
  
}
/* End header styling */

/* Miscellaneous styling */
#credit a:link, #credit a:visited {
	padding-top:5px;
	position:absolute;
}

.views-display .tab-section .inside .views-category-title {
	border-bottom: 1px solid #bbb;
}
ul.jquerymenu li.parent span.closed {
	background-image: url(images/plus.png);
}

ul.jquerymenu li.parent span.open {
	background-image: url(images/minus.png);
}
/* 
 * NOTE: This theme was designed to have the logo sit down to the left of the primary menu
 * If you don't want the logo to sink down comment out the following style (#logo).
 * Also note that if your logo is taller than that which comes with the theme 
 * you will need to adjust the bottom margins on the ".searcher" div.
 */
#logo {
	/*position:absolute;
	top: 5px;*/
	float:left;
	margin-bottom:2px;
	margin-top:15px;
}
.topright {height:85px;}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

img, a img {
  border: none;
}
/* End misc styling */

/* Table styling */
table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, 
td.module, 
td.container {
  border: 1px solid #b4d7f0;
  background-color: #73cbdc;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, 
tr:first-child td.module, 
tr:first-child td.container {
  border-top-width: 0;
}
/* End table styling */

/* Form styling */
#system-themes {
	font-size:10px;
}

fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #bbb;
}

fieldset.collapsed {
	border: 1px dashed #bbb;
}

legend {
	padding-left:5px;
	padding-right:5px;
	background-color:#FFFFFF;

}

#center legend a:link, legend a:visited {
	text-decoration:none;
	display:block;
	padding-left:17px;
	padding-right:5px;
}

html.js fieldset.collapsible legend a {
	background:transparent url(images/minus.png) no-repeat scroll 5px 50%;
}

html.js fieldset.collapsed legend a {
  background-image:url(images/plus.png);
  background-position:5px 50%;
}

/* Search form styling 
 * Note that due to the design the margins on the .searcher style have a large effect on the overall layout
 */
.search-etc {
	height:51px;
	line-height:51px;
}

.searcher{
  float:right;
}
.searchposition {
  width:245px; 
	position:absolute;
	margin-top:10px;
	margin-left: -245px;
}
.searcher .containter-inline {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.searcher .form-text {
	margin:0 0 0 0; 
	padding:0 0 0 0;
	width:165px;
}
	
#edit-submit-button {
	position: relative;
	top: 7px;
	margin: 0 0 0 5px;
}
/* End search form styling */
/* End form styling */

/* Utility styles */
.clearer {
  clear:both; 
	height:0;
	margin:0;
  padding:0;
  line-height:0;
  font-size:0;
}

.clear-left {
  clear:left;
	height:0;
	margin:0;
  padding:0;
  line-height:0;
  font-size:0;
}

.clear-right {
  clear:right;
	height:0;
	margin:0;
  padding:0;
  line-height:0;
  font-size:0;
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}
.spacer {
  padding-top:5px;
}
/* End utility styles */